//
// General
//

// Draw toolbar item separators
$DarklyToolBarDrawItemSeparator: false;

// Float and sunken effect on checkboxes and radio buttons
// TODO

// Increase button height
$DarklyButtonHeight: 3px;

// Increase button width
$DarklyButtonWidth: 1px;

// Corner radius
$DarklyCornerRadius: 9px;

// Menu item height
$DarklyMenuItemHeight: 4px;


//
// Tabs
//

// Tab style
$DarklyOldTabbar: false;      // Lightly Default
$DarklyTabBarAltStyle: false; // Lightly Alternative

// Draw highlight on active tab
// TODO

// Use highlight color as selected tab background
$DarklyTabUseHighlightColor: false;

// Tab size
// TODO

// Use brighter close icon
$DarklyTabUseBrighterCloseIcon: false;

// Custom tabbar background
$DarklyAdjustToDarkThemes: false;
$DarklyTabBGColor: rgb(0,0,0);


//
// Animations
//

// Enable animations
// TODO

// Transient scrollbar
// TODO

// Always show slim
// TODO

// Animation duration
// TODO

//
// Frames
//

// Draw rounded frame on rubber band control
// TODO

// Draw a thin line to indicate focus in menus and menubars
$DarklyMenuItemDrawStrongFocus: true;

// Fancy margins
// TODO

// Full outline
$DarklyFullOutline: false;

// No outline
$DarklyNoOutline: false;


//
// Scrollbars
//

// Render a thin separator between the Scrollbar
// TODO

// Scrollbar arrows
// TODO


//
// Transparency
//

// Context Menu
// TODO

// View
// TODO

// Toolbar
// TODO


//
// Shadows
//

// Menu shadow intensity
// TODO

// Draw widget shadow
$DarklyWidgetDrawShadow: true;

// Draw shadow under toolbar
$DarklyWidgetToolBarShadow: false;


//
// Windeco
//

// Window corner radius
$DarklyOtherCornerRadius: 6px;

// Button size
// TODO

// Draw a circle around the close button
// TODO

// Draw a separator under the active window's titlebar
// TODO

// Round bottom corners
// TODO

// Shadow size
// TODO

// Shadow strength
// TODO

// Shadow color
$DarklyShadowColor: rgb(0,0,0);
