//
// General
//

// Draw toolbar item separators
$DarklyrcToolBarDrawItemSeparator: false;

// Float and sunken effect on checkboxes and radio buttons
// TODO

// Increase button height
$DarklyrcButtonHeight: 3;

// Increase button width
$DarklyrcButtonWidth: 1;

// Corner radius
$DarklyrcCornerRadius: 9;

// Menu item height
$DarklyrcMenuItemHeight: 4;


//
// Tabs
//

// Tab style
$DarklyrcOldTabbar: false;      // Lightly Default
$DarklyrcTabBarAltStyle: false; // Lightly Alternative

// Draw highlight on active tab
$DarklyrcTabDrawHighlight: false;

// Use highlight color as selected tab background
$DarklyrcTabUseHighlightColor: false;

// Tab size
// TODO

// Use brighter close icon
$DarklyrcTabUseBrighterCloseIcon: false;

// Custom tabbar background
$DarklyrcAdjustToDarkThemes: false;
$DarklyrcTabBGColor: rgb(0,0,0);


//
// Animations
//

// Enable animations
// TODO

// Transient scrollbar
// TODO

// Always show slim
// TODO

// Animation duration
// TODO

//
// Frames
//

// Draw rounded frame on rubber band control
// TODO

// Draw a thin line to indicate focus in menus and menubars
$DarklyrcMenuItemDrawStrongFocus: true;

// Fancy margins
// TODO

// Full outline
$DarklyrcFullOutline: false;

// No outline
$DarklyrcNoOutline: false;


//
// Scrollbars
//

// Render a thin separator between the Scrollbar
// TODO

// Scrollbar arrows
// TODO


//
// Transparency
//

// Context Menu
// TODO

// View
// TODO

// Toolbar
// TODO


//
// Shadows
//

// Menu shadow intensity
// TODO

// Draw widget shadow
$DarklyrcWidgetDrawShadow: true;

// Draw shadow under toolbar
$DarklyrcWidgetToolBarShadow: false;


//
// Windeco
//

// Window corner radius
$DarklyrcOtherCornerRadius: 6;

// Button size
// TODO

// Draw a circle around the close button
// TODO

// Draw a separator under the active window's titlebar
// TODO

// Round bottom corners
// TODO

// Shadow size
// TODO

// Shadow strength
// TODO

// Shadow color
$DarklyrcShadowColor: rgb(0,0,0);
