button {
  @at-root %pill_button,
  &.pill {
    padding: 6px 24px;
    border-radius: $circular_radius;
  }

  &.text-button.circular {
    min-width:  23px + $DarklyrcButtonHeight;
    min-height:  23px + $DarklyrcButtonHeight;
    padding-left: $_img_btn_pad;
    padding-right: $_img_btn_pad;
  }

  &.card {
    color: var(--card-fg-color);
    background-color: var(--card-bg-color);
    background-clip: padding-box;
    font-weight: inherit;
    padding: 0;

    @include _shadows($card_shadow);
    @include focus-ring($offset: -1px, $transition: $button_transition);

    &:hover { background-image: image($view_hover_color); }

    &.keyboard-activating,
    &:active { background-image: image($view_active_color); }

    &:checked {
      background-color: var(--card-bg-color);
      background-image: image($view_selected_color);

      &:hover { background-image: image($view_selected_hover_color); }

      &.keyboard-activating,
      &:active { background-image: image($view_selected_active_color); }

      &.has-open-popup { background-image: image($view_selected_hover_color); }

      .osd & {
        background-color: color-mix(in srgb, currentColor 10%, transparent);
      }
    }

    &:drop(active) {
      color: $drop_target_color;
      box-shadow: inset 0 0 0 1px $drop_target_color;
    }
  }
}


splitbutton {
  border-radius: $button_radius;

  &, & > separator {
    transition: $button_transition;
    transition-property: background;
  }

  > separator {
    background: none;
  }

  > menubutton > button {
    padding-left: 4px;
    padding-right: 4px;
  }

  // Since the inner button doesn't have any style classes on it,
  // we have to add them manually
  &.image-button > button {
    min-width:  23px + $DarklyrcButtonHeight;
    padding-left: $_img_btn_pad;
    padding-right: $_img_btn_pad;
  }

  &.text-button.image-button > button,
  &.image-text-button > button {
    padding-left: 9px;
    padding-right: 9px;

    > box {
      border-spacing: 6px;
    }
  }

  &:disabled {
    filter: Opacity(var(--disabled-opacity));

    > button, > menubutton, > menubutton > button {
      filter: none;
    }
  }

  // Reimplementing linked so we don't blow up css
  > button:dir(ltr),
  > menubutton > button:dir(rtl) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:dir(rtl),
  > menubutton > button:dir(ltr) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @at-root %flat_split_button,
  &.flat {
    > separator {
      background: none;
    }

    &:hover,
    &:active,
    &:checked {
      background: gtkalpha($fg_color, 0.05);

      > separator {
        background: none;
      }
    }

    &:disabled {
      filter: opacity($strong_disabled_opacity);

      > button:disabled, > menubutton > button:disabled {
        filter: none;
      }
    }

    &:focus-within:focus-visible > separator {
      background: none;
    }

    > button,
    > menubutton > button {
      @extend %button_basic_flat;

      border-radius: $button_radius;
    }
  }

  &.suggested-action {
    > button,
    > menubutton > button {
      @extend %suggested-action-button;
    }
  }

  &.destructive-action {
    > button,
    > menubutton > button {
      @extend %destructive-action-button;
    }
  }

  &.opaque {
    //background-color: $opaque_button_default_bg;
    color: var(--window-fg-color);
  }

  &.suggested-action,
  &.destructive-action,
  &.opaque {
    > button, > menubutton > button {
      //@extend %opaque_button;
    }

    > menubutton > button {
      //&:dir(ltr) { box-shadow: inset 1px 0 color-mix(in srgb, currentColor $dimmer_opacity, transparent); }
      //&:dir(rtl) { box-shadow: inset -1px 0 color-mix(in srgb, currentColor $dimmer_opacity, transparent); }
    }
  }

  > menubutton > button > arrow.none {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
  }
}
//
buttoncontent {
  > box {
    border-spacing: 4px;

    > label {
      font-weight: bold;

      &:dir(ltr) { padding-right: 2px; }
      &:dir(rtl) { padding-left: 2px; }
    }
  }

  .arrow-button > box > &,
  splitbutton > button > & {
    > box > label {
      &:dir(ltr) { padding-right: 0; }
      &:dir(rtl) { padding-left: 0; }
    }
  }
}
