label {
  caret-color: currentColor;

  &.separator {
    @extend .dimmed;
  }

  &:disabled {
    filter: Opacity(var(--disabled-opacity));
  }
}

.dimmed {
  opacity: var(--dim-opacity);
}

.accent {
  color: var(--accent-color);
}

@each $e_type in error, warning, success {
  .#{$e_type} {
    color: var(--accent-color);

    --accent-bg-color: var(--#{$e_type}-bg-color);
    --accent-fg-color: var(--#{$e_type}-fg-color);
    --accent-color: var(--#{$e_type}-color);
  }
}

/**********************
 * General Typography *
 **********************/
.document {
  font-family: var(--document-font-family);
  font-size: var(--document-font-size);
  line-height: 140%;
}

.monospace {
  font-family: var(--monospace-font-family);
  font-size: var(--monospace-font-size);
}

.numeric {
  font-variant-numeric: tabular-nums;
}
