#video-page {
  button.highlighted:hover,
  menubutton.highlighted > button:hover,
  windowcontrols.overlaid > button:hover > image {
    background-color: gtkalpha(white, 0.15);
  }

  windowcontrols.overlaid > button {
    margin: 5px 0;
    &:hover > image,
    &:active > image{ color: black }
  }

  button.highlighted,
  menubutton.highlighted > button,
  windowcontrols.overlaid > button > image {
    box-shadow: none;
    background-color: transparent;
  }

  /* Strong Shadow */
  image.overlaid,
  label.overlaid,
  spinner.overlaid,
  button.overlaid > image,
  button.overlaid > label,
  menubutton.overlaid > button > box > image,
  menubutton.overlaid > button > box > arrow,
  menubutton.overlaid > button > box > label,
  windowcontrols.overlaid > button > image {
    color: white;
    filter: drop-shadow(0 0 1px gtkalpha(black, 0.4))
            drop-shadow(0 0 3px gtkalpha(black, 0.1))
            drop-shadow(0 0 9px gtkalpha(black, 0.3));
  }

  #play-button > image {
  filter: drop-shadow(0 0 1px gtkalpha(black, 0.5))
          drop-shadow(0 0 3px gtkalpha(black, 0.1))
          drop-shadow(0 0 6px gtkalpha(black, 0.2));
  }

  #backwards-button > image,
  #forwards-button > image {
  filter: drop-shadow(0 0 1px gtkalpha(black, 0.5))
          drop-shadow(0 0 6px gtkalpha(black, 0.4));
  }

  scale.overlaid {
    color: white;
    filter: drop-shadow(0 0 6px gtkalpha(black, 0.3));
  }

  scale.overlaid trough highlight,
  scale.overlaid slider {
    background-color: white;
    border-color: white;
    filter: initial;
  }
}
